.catalog {
  display: grid;
  grid-template-columns: $card-size;
  gap: $gap-size;
  justify-content: center;

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: grid;
    place-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  @media (min-width:488px) {
    grid-template-columns: repeat(2, $card-size);
  }
  
  @media (min-width:768px) {
    grid-template-columns: repeat(3, $card-size);
  }
  
  @media (min-width:1024px) {
    grid-template-columns: repeat(4, $card-size);
  }
}
